{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    {% if comments | length > 0 %}
        <div>There are {{ comments.count }} comments</div>

        {% for comment in comments %}
            {% if comment.getPhotoFilename %}
                <img src="{{ asset('uploads/photos/%s' ~ comment.getPhotoFilename) }}" alt="Photo filename">
            {% endif %}

            <h4>{{ comment.getAuthor }}</h4>
            <small>{{ comment.getCreatedAt | format_datetime('medium', 'short') }}</small>

            <p>{{ comment.getText }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', { id: conference.getId, offset: previous }) }}">Previous</a>
        {% endif %}

        {% if next < comments | length %}
            <a href="{{ path('conference', { id: conference.getId, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No comments have been posted yet for this conference.</div>
    {% endif %}
{% endblock body %}
